{% extends 'basic/index.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<br>
<div style="margin-top: 300px;" class="col">
	<div class="col-md">
		<div class="card mb-3 mb-3" style="width: 500px; margin: auto;">
          <div class="card-header text-center"><h5 class="card-title">Вход в личный кабинет</h5></div>
          <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <input class="btn btn-primary  btn-sm btn-block mt-1" type="submit" value="Войти">
            </form>
          </div>
        </div>
	</div>
</div>
{% endblock %}
