{% extends 'basic/index.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<style>

</style>

<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center mt-5">
      <h1 class="display-4">Другие русерсы</h1>
    </div>
    <div class="d-grid gap-2">
      <a style="margin: auto;" class="nav-link" href="http://sd.favr.ru/"><button type="button" class="btn btn-outline-dark mt-3">Создать заявку в сервисдеске центрального аппарата</button></a>
    </div>
</div>
{% endblock %}