{% extends 'navbar.html' %}
{%block content%}
<style>
    @font-face { font-family: Arial; src: url(TelephoneBook/static/fonts/9041.ttf); }
    body{
      font-family: Arial, sans-serif;
    }
</style>

<div class="container">
    <div style="background-color: gray; color: white;" class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center mt-5">
      <h1 class="display-4">Другие русерсы</h1>
    </div>
    <a class="nav-link" href="http://sd.favr.ru/"><button type="button" class="btn btn-outline-light btn-lg btn-block mt-3">Создать заявку в сервисдеске центрального аппарата</button></a>
</div>
{%endblock%}