{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container">
    <div style="margin-top:300px; width:800px;" class="card mx-auto">
      <div class="card-header text-center">
        Редактирование сотрудника "{{customer.name}}"
      </div>
      <div class="card-body">
          <form method="post">
              {% csrf_token %}
              {{form|crispy}}
              <input type="submit" class="btn btn-primary btn-block" value="Редактировать">
          </form>
      </div>
    </div>
</div>
{% endblock %}
